/* HTML element selectors */
body {
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    background-color: hsl(185, 75%, 39%);
    color: hsl(0, 0%, 59%);
    font-size: 12px;
    width: 100vw;
    overflow: hidden;
    margin-bottom: 40px;
}

table {
    margin: 20px auto;
}

td {
    padding: 2px 25px;
}

/* Class selectors */
.top-left-bg {
    position: absolute;
    width: 50vw;
    left: -5vw;
    top: -30vw;
    z-index: -1;
}

.bottom-right-bg {
    position: absolute;
    width: 50vw;
    right: -5vw;
    bottom: -30vw;
    z-index: -1;
}

.box {
    background-color: white;
    width: 350px;
    height: 400px;
    margin: 10vh auto;
    border-radius: 20px;
}

.cover-image {
    border-radius: 20px 20px 0 0;
}

.victor-image {
    position: relative;
    bottom: 80px;
    padding: 0;
    border-radius: 100%;
    border: 5px solid white;
    width: 40%;
}

.details {
    height: 15px;
}

.details p {
    padding-top: 0;
    margin-top: 0;
    position: relative;
    bottom: 10vh;
}

p .name, thead {
    color: black;
    font-weight: 700;
    font-size: 18px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin: 20px auto;
    color: hsl(229, 23%, 23%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 400px) {
    body {
        width: 100vw;
        overflow: hidden;
    }

    table {
        margin: 2vh auto;
    }
    
    td {
        padding: 1vh 4vw;
    }
 
    .cover-image {
        border-radius: 20px 20px 0 0;
        width: 100%;
    }

    .box {
        width: 70vw;
        height: 80vw;
    }

    .details p, tbody {
        width: 100%;
        font-size: 0.65rem;
    }

    p .name, thead {
        color: black;
        font-weight: 700;
        font-size: 1rem;
    }

    .attribution {
        font-size: 11px;
        text-align: center;
        margin: 20px auto;
        color: hsl(229, 23%, 23%);
    }
}